/* Show a custom outline on :focus-visible */
:focus-visible {
	outline: var(--border-thickness) solid;
	text-decoration: none;
}

[tabindex="-1"]:focus {
	outline: none;
}

/* 
	I've implemented a custom focus ring for these links
	so the default is not needed
*/
:is(.site-head, .site-footer) :is(a, button) {
	position: relative;
}

:is(.site-head, .site-footer) a:focus-visible {
	outline: none;
}

/* custom focus ring */
:where(.site-head, .site-footer) a:before {
	content: "";
	position: absolute;
	inset: var(--gutter) calc(-1 / 4 * var(--gutter));
	border-radius: var(--border-radius);
	pointer-events: none;
}

:is(.site-head, .site-footer) a:focus-visible:before {
	outline: var(--border-thickness) solid;
}
